<div class="hero" style="background-image:url(@BannerGame)">
  <div class="container">
    <div class="heroTags">
      <Tag Size="Tag.TypeTag.Secundary" Text="@Category"/>
      <Tag Size="Tag.TypeTag.Secundary" Text="@System"/>
    </div>
    <div class="priceGame">
      <h2>@NameGame</h2>
      <p>
        @if(OldPrice != null){
          <span>De @FormatUtils.ConverteValor(OldPrice)</span> <br/>
        }
        Por @FormatUtils.ConverteValor(NewPrice) 
      </p>
      <Button BackgroundColor="Button.ButtonStyle.Secondary" TextButton="Adicionar ao carrinho" />
    </div>
  </div>
</div>

@code{
  [Parameter]
  public string? NameGame {get; set;}

  [Parameter]
  public double? OldPrice {get; set;}

  [Parameter]
  public double? NewPrice {get;set;}

  [Parameter]
  public string? BannerGame {get; set;}

  [Parameter]
  public string? Category {get;set;}

  [Parameter]
  public string? System {get;set;}
}

<style>
  .hero{
    position: relative;
    width: 100%;
    height: 480px;
    background-repeat: no-repeat;
    background-size: cover;

      .heroTags{
        display: flex;
        gap: 8px;
        padding-top: 20px;
      }

      .priceGame{
        position: absolute;
        bottom: 0;
        padding: 16px;
        display: inline-block;
        background-color: #111;
        color: #fff;

        h2{
          font-size: 32px;
          font-weight: bold;
        }

        p{
          font-size: 18px;
          font-weight: bold;
          padding: 16px 0;

          span{
            text-decoration: line-through;
          }
        }
      }
    }
</style>
